/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: scroll;
}
body header {
  width: 35vw;
  display: flex;
  position: fixed;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}
body header h1 {
  font-size: 64px;
  font-weight: 600;
  color: #FBFEFF;
  padding-bottom: 65px;
}
body main {
  position: absolute;
  right: 0;
  width: 65vw;
  overflow: hidden;
}
body main .switch {
  position: fixed;
  top: 20px;
  right: 20px;
}
body main .switch i {
  font-size: 18px;
  color: black;
}
body main .main-info {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
body main .main-info .content {
  width: 90%;
}
body main .main-info .content h1 {
  font-size: 64px;
  font-weight: 600;
  color: #03080A;
}
body main .main-info .content p {
  font-size: 36px;
  font-weight: 400;
  margin: 30px 0 70px 0;
}
body main .main-info .content .input-field input {
  width: 70%;
  margin-right: 30px;
}
body main .main-info .content .input-field a {
  height: 45px;
  width: 150px;
  background-color: #61A5C7;
}
body main .main-info .content .input-field a:hover {
  background-color: #44768f;
}
body main .main-info .content .input-field a:active {
  background-color: #25404e;
}
body main .about {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 100vh;
}
body main .about .about-content {
  width: 90%;
  display: flex;
  flex-direction: column;
}
body main .about .about-content h1 {
  font-size: 64px;
  font-weight: 600;
  color: #03080A;
  margin-bottom: 40px;
}
body main .about .about-content p {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
}
body main .tech {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 100vh;
}
body main .tech .tech-content h1 {
  font-size: 64px;
  font-weight: 600;
  color: #03080A;
}
body main .tech .tech-content .grid {
  width: fit-content;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  margin-top: 50px;
}
body main .tech .tech-content .grid i {
  font-size: 64px;
}

/*# sourceMappingURL=style.css.map */
