@media screen and (max-width:885px){
    body #header{
        display: none;
    }

    #main{
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
        h1{
            font-size: 3rem;
        }
        .about{
            height: 150vh;
        }
        
    }
}