$primaryColor:#03080A;
$secondaryColor:#FBFEFF;
$ctaColor:#61A5C7;
$ctaHoverColor:#44768f;
$ctaActiveColor:#25404e;

@mixin title($color){
    font-size: 64px;
    font-weight: 600;
    color: $color;
}

@mixin containerSettings($justify,$align){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    max-width: 100%;
    height: 100vh;
}

@mixin cta($color,$hoverColor,$activeColor){
    
    height: 45px;
    width: 100px;
    background-color: $color;
    &:hover{
        background-color: $hoverColor;
    }
    &:active{
        background-color: $activeColor;
    }
}

.dark-mode{
    color: $secondaryColor;
}

